body{
    background-color: rgb(238, 238, 238);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header{
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}
header img{
    width: 315px;
    height: 120px;
}
#contenido{
    display: flex;
    justify-content: center;
    gap: 20px;   
}
#contenido a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#contenido a:hover{
    color: rgba(102, 102, 136, 0.582);
    transition: 0.3s; /* efecto suave */
}
main{
    padding: 20px;
}
section{
    background-color: rgba(255, 255, 255, 0.363);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
article{
    background-color: rgb(227, 229, 235);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.712);
    padding: 15px;
}
#contenedor{
    display: flex;
    gap: 80px;
    padding: 20px;
    align-items: flex-start;
}
#cursos{
    flex: 3;
    background-color: rgb(0, 33, 99);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.781);
}
#cursos h1{
    color: white;
}
.seccion1 h1, .seccion2 h1{
    color: rgb(87, 54, 207);
    text-align: center;
}
img{
    width: 200px;
    height: auto;
}
#cursos-grid{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
#ingles:hover, #frances:hover, #aleman:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
pre{
    font-family: Arial, sans-serif;
    text-align: left;
}
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    padding: 10px;
}
.fab{
    color: white;
    font-size: 1.6em;
}
.fab:hover{
    color: rgb(184, 153, 173);
}
.seccion1 {
    display: flex;
    align-items: center;
    gap: 30px; /* controla la distancia entre texto e imagen */
    justify-content: center;
    padding: 40px;
}
.seccion1 .texto1 {
    text-align: left;
}
.seccion1 img {
    width: 400px; 
    border-radius: 10px; 
}
.seccion2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; /* invierte texto ↔ imagen */
    justify-content: center;
    gap: 100px;
    padding: 60px;
}
.seccion2 .texto2 {
    text-align: right; 
}
.seccion2 img {
    width: 400px;
    border-radius: 10px; 
}
.headerSeg{
    display: flex;
    align-items: center;
    gap: 300px;
    justify-content: center;
    padding: 20px;
}
.headerSeg img{
    width: 200px;
    height: auto;
}

/* OFERTA ACADÉMICA */
#oferta{
    background-color: rgb(207, 212, 221);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.781); 
}
#oferta img{
    width: 400px; 
    border-radius: 10px;
}
section h2{
    color: rgb(87, 54, 207);
}
#final{
    color: rgb(56, 39, 104);
    text-align: center;
}

/* ASPIRANTES */
h1{
    color: rgb(48, 25, 112);
}
.aspirante{
    display: flex;
    align-items: center;
    gap: 5px; /* controla la distancia entre texto e imagen */
    justify-content: center;
    padding: 40px;
}
.aspirante .textoAs {
    text-align: left;
}
.aspirante img {
    width: 400px; 
    border-radius: 10px; 
}
#inscripcion{
    display: flex;
    justify-content: center;
}
#inscripcion a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
.btn{
    background-color: #4818a1;
    padding: 10px 22px; /* espacio interno */
    border-radius: 10px;
    transition: 0.3s;
}
#inscripcion a:hover{
    color: rgb(0, 0, 0);
}

/* ACERCA DE NOSOTROS */
#titulo h2{
    color: rgb(87, 54, 207);
}
.acerca{
    display: flex;
    align-items: center;
    gap: 30px; /* controla la distancia entre texto e imagen */
    justify-content: center;
    padding: 40px;
}
.acerca .textoAc {
    text-align: left;
}
.acerca img {
    width: 250px; 
    border-radius: 10px; 
}